<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Register</title>
</head>
<body>
<div class = 'jumbotron'>
    {% if registered %}
        <h3>Registered</h3>
    {% else %}
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ UserForm.as_p }}<br>
            {{ UserProfileForm.as_p }}
            <input type="submit">

        </form>
    {% endif %}
</div>
</body>
</html>