{% extends 'base.html' %}

{% block content %}

{% load static %}
<header class="masthead" style="width: 100vw;height: 100px;background: #252525;">
</header>

	<section class="ftco-section pb-0 pt-5">
		<div class="container">
			<div class="row justify-content-center pb-3">
			  <div class="col-md-7 heading-section ftco-animate text-center">
				<h2 class="mb-4">{{ AboutSWLP.0.heading }}</h2>
			  </div>
			</div>
			<div class="row pb-3">
				<div class="col-md-7">
					<div class="row">
						<p class="text-left">{{ AboutSWLP.0.description }}</p>
					</div>
					<div class="row">
						<div class="col-md-6">
							<ul style="list-style-type:none;">
							{% for swlp in AboutSWLPIconsRow1 %}
								<li><span class="{{ swlp.icon }} mr-2"></span>{{ swlp.icon_text }}</li>
							{% endfor %}
							</ul>
						</div>
						<div class="col-md-6">
							<ul style="list-style-type:none;">
							{% for swlp in AboutSWLPIconsRow2 %}
								<li><span class="{{ swlp.icon }} mr-2"></span>{{ swlp.icon_text }}</li>
							{% endfor %}
							</ul>
						</div>
					</div>
					<div class="row">
						<p class="text-left">{{ AboutSWLP.0.image_description }}</p>
					</div>
				</div>
				<div class="col-md-5">
					<img src="{{ AboutSWLP.0.image.url }}" class="img-responsive img-thumbnail">
				</div>
			</div>
		</div>
	</section>

	<section id="board" class="ftco-section bg-light">
    	<div class="container-fluid">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-8 heading-section ftco-animate text-center">
            <h2 class="mb-4">What our Leaders say</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="carousel-cause owl-carousel">
					{% for member in LeaderSays %}
	    				<div class="item">
	    					<div class="cause-entry">
		    					<a class="img" style="background-image: url({{ member.image.url }});"></a>
		    					<div class="text p-3 p-md-4">
		    						<h3>{{ member.name }}</h3>
		    						<p>{{ member.about }}</p>
		    					</div>
		    				</div>
	    				</div>
					{% endfor %}
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
{% endblock %}