{% extends 'base.html' %}

{% block content %}

{% load static %}

<header class="masthead"
        style="height: 100vh;min-height: 500px;background-image: url('{{ blog.image.url }}');background-size: cover;background-position: center;background-repeat: no-repeat;">
    <div class="scroll" style="position: absolute;right: 2rem;bottom: 0.5rem;">
        Scroll Down to read full Article
    </div>
</header>
<div class="container mb-5" style="margin-top:-200px;">
    <div class="row">
        <div class="col-lg-8">
            <div class="blog-head">
                <h1 class="mt-4" style="color:#fff;">{{ blog.heading }}</h1>
                <hr>
                <p class="text-left">Posted on {{ blog.pub_date }}</p>
            </div>
            <div class="mt-5 blog-content">
                {{ blog.content|linebreaks }}
                <div class="mt-2 cites">
                    Citations:
                    {% for cite in cites %}
                    <a href="{{ cite }}">{{ cite }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
