{% extends 'base.html' %}

{% block content %}

{% load static %}
<style>

</style>
<header class="masthead"
        style="height: 50vh;min-height: 450px;background-image: url('{{ donate.image.url }}');background-size: cover;background-position: center;background-repeat: no-repeat;">

    <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-7  text-center">
            <h1>
                Better To Give Than To Receive
            </h1>
        </div>
    </div>
</header>
<br><br>

<div class="container mb-5">
    <div class="row">
        <div class="col-lg-8 text-dark">
            <div class="mt-5 blog-content">
                <p>iCFDR calls you to be the Good Samaritan.</p>
                <p>Be the silver lining, hundreds look for in the sky each day.</p>
                <h4 class="text-success">Why should you donate?</h4>
                <p>
                <ul>
                    <li>To prevent young children from dropping out of school and missing out on a lifetime of
                        opportunities.
                    </li>
                    <li>To help the kids from low-income families pursue their education and get proper nutrition and
                        basic amenities of life.
                    </li>
                    <li>To feed the hungry and give necessities like clothing and healthcare to them. It makes them feel
                        a part of society and improves their quality of life.
                    </li>
                    <li>To keep the people on the streets safe during extreme weather and give clothes to them to beat
                        the winter cold.
                    </li>
                    <li>To lighten up someone’s life. To be the reason a child smiles in gratitude that he can have an
                        education, the reason a family can sleep peacefully, because they have food on the table, and a
                        homeless person knows warmth for a change. To make every destitute feel they are not alone.
                    </li>
                </ul>
                </p>
                <div class="card text-white " style="border-radius: 0px 80px 0px 80px;background-color: #431C53;">
                    <div class="card-body">
                        <h4 class="text-white">Where does the sponsorship money go? </h4>
                        <p>
                            When you donate a little out of your resources, it is utilised to fulfil the needs of the
                            unfortunate ones. iCFDR is out on a mission to lend a helping hand to the poor and
                            destitute. It has been actively involved in rendering services to underprivileged children,
                            providing nutritious food to the poor and families affected by natural disasters. Lately we
                            have been involved in helping low-income families and daily wage labourers who have been
                            severely affected due to COVID-19.
                            92% of the money is utilised for the project, while 8% of the money goes for conducting
                            operations.
                            We need your cooperation and support in carrying out the good work. Your sponsorship will be
                            an ‘anchor to our ship of noble work.’ It will help us reach out to the people in need of
                            nutrition, medical facilities, education and care.

                        </p>
                    </div>
                </div>
                <br>
                <div class="card  text-white " style="border-radius: 50px 0px 80px 0px;background-color: #431C53">
                    <div class="card-body">
                        <h4 class="text-white">Impact of donation </h4>
                        <ul>
                            <li>Your donation will transform the lives of many who are struggling for a meal per day,
                                quality education and healthcare.
                            </li>
                            <li>You will empower and energise people for future prospects.</li>
                            <li>You will contribute to shaping the leaders of tomorrow.</li>
                            <li>You will be the source of happiness in their lives</li>
                            <li>You will help them live a decent life.</li>
                        </ul>
                    </div>
                </div>
                <br>
                <h4 class="text-success">
                    What do you get in return?
                </h4>
                <ul>
                    <li>Welcome kit with the enclosed details of your donation and iCFDR</li>
                    <li>Annual report update with information related to all the activities conducted.</li>
                    <li>50% exemption under income tax act 1961 (80G certificate)</li>
                </ul>
                <p>BONUS: Be worthy of the heartfelt blessings and good wishes of all the people whose lives you touch
                    with your kindness and give them a ray of hope in this bleak world.</p>

            </div>
        </div>
        <div class="col-lg-4">
            <h4>Donate via Card</h4>
            <a target="_blank" href="https://www.payumoney.com/paybypayumoney/#/DFE2878E860D57AF8E18DFEF38EBE7EC" class="btn btn-success btn-block " style="width:70%;height:4%;font-size:200%;margin-left:15%;border-radius: 8px;">Donate</a>
            <div class="card-body bg-light text-dark">


                <div class="row" id="bank_info">
                    
                    {{donate.bank_info | safe}}
                </div>

            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}
