<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
    <meta charset="UTF-8">
    <title>fundraiser</title>
</head>
<body>
    <h2>Signup</h2>
    <form method="POST">
        {% csrf_token %}
        {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
        {% endif %}
        {% for field in form %}

        <p>
            {{ field.label_tag }} <br>
            {{ field }}
            {% if field.help_text %}
            <small style="color:grey"> {{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
        <p style="color:red">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>