{% extends 'base.html' %}

{% block content %}

{% load static %}

<header class="masthead" style="width: 100vw;height: 100px;background: #252525;">
</header>

<section id="gallery" class="ftco-gallery mt-5 mb-5">
    <div class="row justify-content-center mb-2 pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Our Image Gallery</h2>
        </div>
    </div>

    <div class="row justify-content-center mb-5 pb-3">
        <button class="btn btn-primary filter-btn ml-1" data-filter=".all" id="filter">All</button>
        <button class="btn btn-primary filter-btn ml-1" data-filter=".children" id="reset">Children</button>
        <button class="btn btn-primary filter-btn ml-1" data-filter=".health" id="filter">Health</button>
        <button class="btn btn-primary filter-btn ml-1" data-filter=".empowerment" id="reset">Empowerment</button>
        <button class="btn btn-primary filter-btn ml-1" data-filter=".environment" id="filter">Environment</button>
        <button class="btn btn-primary filter-btn ml-1" data-filter=".elderly" id="reset">Elderly</button>
    </div>

    <div class="container-fluid ">
        <div class="row grid">
            {% for obj in Gallery %}
            <a class="col-md-3 image-popup pl-0 pr-0 grid-item {{ obj.tag }}" href="{{ obj.image.url }}">
                <img loading="lazy" class="img-responsive img-thumbnail" src="{{ obj.image.url }}"
                     alt="{{ obj.image_alt_txt }}">
            </a>
            {% endfor %}
        </div>
    </div>

</section>
{% endblock %}