<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
    <meta charset="UTF-8">
    <title>fundraiser</title>
</head>
<body>
<button class="btn btn-primary" ><a href="/fundraiser/login" style="color:white;">Login</a></button><br>
<button class="btn btn-primary"  ><a href="/fundraiser/signup" style="color:white;">register</a></button><br>

</body>
</html>