{% extends 'base.html' %}

{% block content %}

{% load static %}

<header class="masthead" style="width: 100vw;height: 100px;background: #252525;">
</header>
<section class="ftco-section pb-0 pt-5">
	<div class="container">
		<div class="row justify-content-center pb-3">
		  <div class="col-md-7 heading-section ftco-animate text-center">
			<h2 class="mb-4">ONLINE EASY CLASSES</h2>
		  </div>
		</div>
        <br>
		<div class="row pb-3">
			<div class="row about-us">
              <p>In March 2020 India and the world went into a lockdown due to COVID19 pandemic breakout. In light of these events, schools across the country are shut down. Offices and corporates have adopted the work from home model. Virtual space has suddenly become all the more important so much that it is a new reality. Students across the country are missing out on their education and daily classes. We had to pause regular Easy Classes at slums as well, for the safety and welfare of our students and volunteers.</p>
              <p>As a result, students are facing substantial academic losses. Many students going to government schools do not have the resources to afford expensive online training platforms and tuitions. Most of our students from Easy Classes went to government schools and are clueless in these troubled times, with no relief in sight. Keeping in mind the new normal, iCFDR is launching Online Easy Classes to help students belonging to not so fortunate families catch up on their studies and classes.</p>
              <p> The Online Easy Classes are free of charge. The subjects being covered are science, maths, english and social science. The only accessory the student must possess is an active internet connection and a device to access the internet. Students will be given assignments throughout the week as homework, and our teachers will evaluate these assignments. The number of students in each class will be about 5-10. The number of students has been kept as such to ensure that each child gets individual attention by the teacher and discipline is maintained throughout the classes. There will be weekly tests to conduct an assessment of the students’ learning.</p>
                  <p>The first Online Easy Classes were conducted on the 27th and 28th of June. The Online Easy Classes is well received and the students participate extensively and sessions are interactive. It was a new experience for both the teachers and the students. </p>

			</div>
		</div>
	</div>
</section>

<!--<section>-->
<!--<div class="row justify-content-center mb-5 pb-3">-->
<!--        <div class="col-md-7 heading-section ftco-animate text-center">-->
<!--            <h2 class="mb-4">Moderators Images</h2>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="d-md-flex">-->
<!--        {% for obj in GalleryRow1 %}-->
<!--        <a href="{{ obj.image.url }}"-->
<!--           class="gallery image-popup d-flex justify-content-center align-items-center ftco-animate">-->
<!--            <img loading="lazy" src="{{ obj.image.url }}" class="img img-responsive" alt="{{ obj.image_alt_txt }}">-->
<!--            <div class="icon d-flex justify-content-center align-items-center">-->
<!--                <span class="fas fa-search-plus"></span>-->
<!--            </div>-->
<!--        </a>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--    <div class="d-md-flex">-->
<!--        {% for obj in GalleryRow2 %}-->
<!--        <a href="{{ obj.image.url }}"-->
<!--           class="gallery image-popup d-flex justify-content-center align-items-center ftco-animate">-->
<!--            <img loading="lazy" src="{{ obj.image.url }}" class="img img-responsive" alt="{{ obj.image_alt_txt }}">-->
<!--            <div class="icon d-flex justify-content-center align-items-center">-->
<!--                <span class="fas fa-search-plus"></span>-->
<!--            </div>-->
<!--        </a>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--</section>-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
